# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other
.vs/
Debug/
Release/
x64/
*.suo
*.log
*.db
*.opendb
*.ipch
*.ide-shm
*.ide.wal
*.db-shm
*.db-wal
*.tlog
*.pdb
*.idb
*.log
*.lastbuildstate
*.cache
*.tlog
*.xml
*.sarif
*.lock
*.json
*.metagen
*.vcxproj.filters
*.vcxproj.user
*.txt
*.iobj
*.ipdb
